# Prototype
snippet proto
	${1:class_name}.prototype.${2:method_name} =
	(${3:first_argument}) => {
		${4:// body...}
	};
# switch
snippet switch
	switch(${1:expression}) {
		case '${3:case}':
			${4:// code}
			break;
		${5}
		default:
			${2:// code}
	}
# case
snippet case
	case '${1:case}':
		${2:// code}
		break;
	${3}
# setTimeout function
snippet timeout
	setTimeout(() => {${3}}${2}, ${1:10};
