# Blog Frontmatter
snippet blog-frontmatter
	Title: ${1:title}
	Date: ${2:date}
	Category: ${3:category}
	Tags: ${4:tags}
	Summary: ${5:summary}
	Status: ${6:status}

snippet notes
	# ${1:title}

	## Notes

	- ${2}

	
	## Questions


	## References


	## Tags

snippet recipe
	# ${1:title}

	Serves:  ???
	Time:    ???


	## Ingredients

	- ${2}


	## Instructions

	1. 


	## Tags


